body 
{
    width: 50%;
    margin: auto;
    align-content: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    padding: 10px;
}

.calucator {
    border-radius: 2vh;
    height: 36vh;
    width: 26vh;
    background-color: rgb(201, 209, 209);
    box-shadow: .2vh .2vh .5vh .2vh rgb(151, 161, 161, 2);
    display: flex;
    flex-direction: column;
}

#userInput {
    border-radius: 2vh;
    padding: 1vh;
    height: 2vh;
    width: 22vh;
    margin: 1vh;
    align-self: center;
    background-color: rgb(139, 139, 139);
    border: 2px solid rgb(56, 56, 56);
    text-align: right;
}



.buttons {
    background-color: grey;
    align-self: center;
    margin: 1vh;
    padding: 1vh;
    height: 25vh;
    width: 22vh;
    border-radius: 2vh;
}

.button {
    background-image: url(Button.gif);
    padding: 1px;
    height: 5vh;
    width: 5vh;
    border-radius: 1.5vh;
    grid-template-columns: auto repeat(4, 1fr);
}

button > .twoColumns {
    grid-row: 2fr;
}
button > .threeRows
{
    grid-row: 3fr;
}

